
.main{
	margin-right: auto;
	margin-left: auto;
	*zoom: 1;
}

.main:before,
.main:after {
  display: table;
  line-height: 0;
  content: "";
}

.main:after {
  clear: both;
}

.main{
	width: auto;
}


.topOne{
	margin-left:13px;
	margin-top:13px;
	height: 50px;
	width:100%;
	background: blue;
	@media(max-width:1000px){.topOne{margin-left:0px;}} 
}